<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Offers</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</head>
<body>
<div class = "container">
  <div class="row">
    <div class = "col-lg-4 cold-md-4 col-sm-4 container justify-content-center card">
      <h1>Create New Offer</h1>
      <div class="card-body">
        <form th:action="@{/offers}" th:object="${offerViewModel}" method="POST">
          <div class = "form-group">
            <label>Adet</label>
           <input type="hidden" th:if="${offerViewModel.customerId!=null}" th:field="${offerViewModel.customerId}">
            <input
                    type="text"
                    name="unit"
                    th:field = "${offerViewModel.unit}"
                    class="form-control"
            />
          </div>


          <div class="form-group">
            <title>-Motor Yönü-</title>
          <select  th:field="${offerViewModel.motordirection}"><br/><br/>
            <option th:each="c : ${motordirections}" th:value="${c}" th:text="${c}">
            </option>
          </select>
          </div>

          <div class="form-group">
            <label th:for="motordirection">Motor Yönü</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="motordirection">
              <option th:each = "motordirection : ${motordirectionList}"
                      th:text="${motordirection}">
              </option>
            </select>
          </div>


          <div class = "form-group">
            <label>Yükseklik</label>
            <input
                    type="text"
                    name="height"
                    th:field = "${offerViewModel.height}"
                    class="form-control"
            />
          </div>
          <div class = "form-group">
            <label>Genişlik</label>
            <input
                    type="text"
                    name="width"
                    th:field = "${offerViewModel.width}"
                    class="form-control"
            />
          </div>
          <div class="footer-body">
            <button type="submit" class="btn btn-primary"> Maliyeti Gör </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-8">
      <!--
<div class="form-group">
<label th:for="motordirection">Kumaş Markası</label>
<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="motordirection">
<option th:each = "motordirection : ${motordirectionList}"
        th:text="${motordirection}">
</option>
</select>
</div>

<div class="form-group">
<label th:for="motordirection">Motor Markası</label>
<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="motordirection">
<option th:each = "motordirection : ${motordirectionList}"
        th:text="${motordirection}">
</option>
</select>
</div>
-->

</div>

</div>
</div>
</body>
</html>