<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Offers</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</head>
<body>
<div class = "container">
  <div class="row">
    <div class = "col-lg-4 cold-md-4 col-sm-4 container justify-content-center card">
      <h1>Create New Offer</h1>
      <div class="card-body">
        <form th:action="@{/offers}" th:object="${offerViewModel}" method="POST">
          <div class = "form-group">

            <div class="form-group">
              <label> Ürün Tipi </label>
              <select  th:field="${offerViewModel.productTypeOffer}"><br/><br/>
                <option th:each="c : ${productTypeOffer}" th:value="${c}" th:text="${c}">
                </option>
              </select>
            </div>
            <label>Adet</label>
            <input type="hidden" th:if="${offerViewModel.customerId!=null}" th:field="${offerViewModel.customerId}">
            <input
                    type="text"
                    name="unit"
                    th:field = "${offerViewModel.unit}"
                    class="form-control"
            />
          </div>


          <div class="form-group">
            <label> Motor Yönü </label>
            <select  th:field="${offerViewModel.motordirection}"><br/><br/>
            <option th:each="c : ${motordirections}" th:value="${c}" th:text="${c}">
            </option>
          </select>

          </div>

          <div class="form-group">
            <select  th:field="${offerViewModel.offerstatus}">
              <option th:value="${offerstatus[1]}"></option>
            </select>
          </div>


          <div class = "form-group">
            <label>Yükseklik</label>
            <input
                    type="text"
                    name="height"
                    th:field = "${offerViewModel.height}"
                    class="form-control"
            />
          </div>
          <div class = "form-group">
            <label>Genişlik</label>
            <input
                    type="text"
                    name="width"
                    th:field = "${offerViewModel.width}"
                    class="form-control"
            />
          </div>
          <div class="footer-body">
            <button type="submit" class="btn btn-primary"> Maliyeti Gör </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-8">

</div>

</div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>